@model MvcToDoList.Models.Own.Task

<div class="col-md-6">
    <div class="jumbotron">
        <h1>@Model.Name</h1>
        <p>@Model.Description</p>
        @using (Html.BeginForm())
        {
            @Html.ActionLink("Edit", "Edit", "Tasks",new { id = Model.TaskId}, null)
        }
    </div>
</div>
