@model IEnumerable<MvcToDoList.Models.Own.Task>
@using MvcToDoList.Models.Own
@{
    ViewBag.Title = "Index";
}
<h2 class="text-center">Tasks List</h2>
<p class="text-center">
    @Html.ActionLink("New Task", "Create", null, new { @class = "btn btn-success center-blok"})
</p>
<div class="container">
    @foreach (var task in Model)
    {
        task.Name = task.Name.Length > 28 ? task.Name.Substring(0, 25) + "..." : task.Name;
        @Html.Partial("TaskSummary", task);
    }
</div>
